@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:is(.dark *));

:root {
	--color-blue-dark: #0a84ff;
	--color-blue-light: #007aff;
	--color-brown-dark: #ac8e68;
	--color-brown-light: #a2845e;
	--color-cyan-dark: #64d2ff;
	--color-cyan-light: #32ade6;
	--color-green-dark: #30d158;
	--color-green-light: #34c759;
	--color-indigo-dark: #5e5ce6;
	--color-indigo-light: #5856d6;
	--color-orange-dark: #ff9f0a;
	--color-orange-light: #ff9500;
	--color-pink-dark: #ff375f;
	--color-pink-light: #ff2d55;
	--color-purple-dark: #bf5af2;
	--color-purple-light: #af52de;
	--color-red-dark: #ff453a;
	--color-red-light: #ff3b30;
	--color-teal-dark: #34c759;
	--color-teal-light: #30b0c7;
	--color-mint-dark: #63e6e2;
	--color-mint-light: #00c7be;
	--color-yellow-dark: #ffd60a;
	--color-yellow-light: #ffcc00;
	--color-disabled-dark: #757575;
	--color-disabled-light: #999999;
	--color-gray: #8e8e93;
	--color-gray-2-dark: #636366;
	--color-gray-2-light: #aeaeb2;
	--color-gray-3-dark: #48484a;
	--color-gray-3-light: #c7c7cc;
	--color-gray-4-dark: #3a3a3c;
	--color-gray-4-light: #d1d1d6;
	--color-gray-5-dark: #2c2c2e;
	--color-gray-5-light: #e5e5ea;
	--color-gray-6-dark: #1c1c1e;
	--color-gray-6-light: #f2f2f7;

	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: var(--color-gray-6-dark);
	--card: oklch(1 0 0);
	--card-foreground: var(--color-gray-6-dark);
	--popover: oklch(1 0 0);
	--popover-foreground: var(--color-gray-6-dark);
	--primary: var(--color-gray-6-dark);
	--primary-foreground: var(--color-gray-6-light);
	--secondary: var(--color-gray-5-light);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: var(--color-gray-5-light);
	--muted-foreground: oklch(0.556 0 0);
	--accent: var(--color-gray-5-light);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: var(--color-blue-light);
	--chart-2: var(--color-green-light);
	--chart-3: var(--color-orange-light);
	--chart-4: var(--color-purple-light);
	--chart-5: var(--color-red-light);
	--sidebar: var(--color-gray-6-light);
	--sidebar-foreground: var(--color-gray-6-dark);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: var(--color-gray-6-light);
	--sidebar-accent: var(--color-gray-5-light);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: var(--color-gray-6-dark);
	--foreground: var(--color-gray-6-light);
	--card: oklch(0.205 0 0);
	--card-foreground: var(--color-gray-6-light);
	--popover: oklch(0.269 0 0);
	--popover-foreground: var(--color-gray-6-light);
	--primary: var(--color-gray-6-light);
	--primary-foreground: var(--color-gray-6-dark);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: var(--color-gray-6-light);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(43.819% 0.0327 18.397);
	--accent: oklch(0.371 0 0);
	--accent-foreground: var(--color-gray-6-light);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: var(--color-blue-dark);
	--chart-2: var(--color-green-dark);
	--chart-3: var(--color-orange-dark);
	--chart-4: var(--color-purple-dark);
	--chart-5: var(--color-red-dark);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: var(--color-gray-6-light);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: var(--color-gray-6-light);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: var(--color-gray-6-light);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
	--color-blue-dark: #0a84ff;
	--color-blue-light: #007aff;
	--color-brown-dark: #ac8e68;
	--color-brown-light: #a2845e;
	--color-cyan-dark: #64d2ff;
	--color-cyan-light: #32ade6;
	--color-green-dark: #30d158;
	--color-green-light: #34c759;
	--color-indigo-dark: #5e5ce6;
	--color-indigo-light: #5856d6;
	--color-orange-dark: #ff9f0a;
	--color-orange-light: #ff9500;
	--color-pink-dark: #ff375f;
	--color-pink-light: #ff2d55;
	--color-purple-dark: #bf5af2;
	--color-purple-light: #af52de;
	--color-red-dark: #ff453a;
	--color-red-light: #ff3b30;
	--color-teal-dark: #34c759;
	--color-teal-light: #30b0c7;
	--color-mint-dark: #63e6e2;
	--color-mint-light: #00c7be;
	--color-yellow-dark: #ffd60a;
	--color-yellow-light: #ffcc00;
	--color-disabled-dark: #757575;
	--color-disabled-light: #999999;
	--color-gray: #8e8e93;
	--color-gray-2-dark: #636366;
	--color-gray-2-light: #aeaeb2;
	--color-gray-3-dark: #48484a;
	--color-gray-3-light: #c7c7cc;
	--color-gray-4-dark: #3a3a3c;
	--color-gray-4-light: #d1d1d6;
	--color-gray-5-dark: #2c2c2e;
	--color-gray-5-light: #e5e5ea;
	--color-gray-6-dark: #1c1c1e;
	--color-gray-6-light: #f2f2f7;

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}
